.Home {
    text-align: center;

    &__Header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }
    &__Para {
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        font-size: 22px;
    }
    &__Button {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;

        background-color: rgb(214, 255, 255);
        border: 2px solid black;

        width: 1500px;
        height: 200px;
        padding: 2%;

        &__Position {
            margin-top: 10%;
        }
    }
    &__Button:hover {
        color: white;
        background-color: rgb(255, 179, 179);
        cursor: pointer;
    }
    &__Button:active {
        color: red;
        background-color: white;
    }
}
