.Nav_Bar {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border: 3px solid purple;
    font-size: 25px;
}

.Nav_Link {
    margin-left: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
